* {
  padding: 0;
  padding: 0;
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2.2px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 6rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: red;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 2.2px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 6rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: blue;
}

main h2 {
  font-size: 1.5rem;
  letter-spacing: 2.2px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 6rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: blue;
}

main h3 {
  font-size: 1rem;
  letter-spacing: 2.2px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 6rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: green;
}

.list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.list ul li {
  margin: 0 30px;
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

p {
  padding-top: 15px;
  margin-bottom: 1rem;
  color: red;
  font-family: 'Mukta', sans-serif
}